.ItemStyles {
    padding: 2rem;
    background-color: #c0c0c0;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.icon {
    color: #fff;
    background-color: #a5a5a5;
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .info {
    padding-top: 1rem;
  }

  svg {
    width: 1rem;
  }